{% extends "home_page.html" %}

{% block audio_content %}
{% for src in radio_list %}
<form method="post" action="/{{data.site}}" class="radio_form">
    <h1>{{src.name}}</h1>
    <audio controls>
        <source src="{{src.source}}" type="audio/mp3">
    </audio>
    {% if src.followed %}
    <div>
        <input value="Stop following" type="submit" name={{src.id}} class="button followed_button">
    </div>
    {% else %}
    <div>
        <input type="submit" value="Follow" name={{src.id}}
               class="unfollowed_button button">
    </div>
    {% endif %}
</form>
{% endfor %}
{% endblock %}